.headerArea {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.Card {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05);
}

.Card:hover {
    box-shadow: 0 0px 40px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 1920px) {
    .Card {
        width: 70%;
    }
    .headerArea {
        width: 70%;
    }
}

@media (max-width: 1440px) {
    .Card {
        width: 80%;
    }
    .headerArea {
        width: 80%;
    }
}

@media (max-width: 900px) {
    .Card {
        width: 90%;
    }

    .headerArea {
        width: 90%;
    }
}
