body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  /* display: none; */
}

.mapboxgl-popup-content {
  padding: 5px;
  width: auto;
  max-width: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 3px;
  border: "none";
  box-shadow: 0 0 0 0 !important;

  /* color: "#fff"; */
}

.mapboxgl-popup-tip {
  display: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 150px;
}

.sidebar {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 25vw;
  overflow: auto;
  padding: 30px 30px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.map {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 75vw;
  background-color: #fff;
}

/* @media (max-width: 900px) {
  .sidebar {
    width: 50vw;
  }


  .map {
    width: 50vw;
    left: 50vw;
  }
} */

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    left: 0;
    top: 0;
  }

  .map {
    display: none;
  }
}
